# -----------------------------------------------------------------------------
# deploy/env/mysql.env.example
#
# Template for /opt/deploy/env/mysql.env on the Vagrant VM.
# Consumed by the `mysql` service in docker-compose.deploy.yml at container
# init time.
#
# IMPORTANT: MYSQL_ROOT_PASSWORD and MYSQL_PASSWORD are BAKED INTO the MySQL
# data volume the first time the container starts. Changing them later will
# NOT update the actual DB users; you'd need to either rotate them via SQL
# or wipe the `todo_mysql_data` volume.
# -----------------------------------------------------------------------------

MYSQL_ROOT_PASSWORD=REPLACE_ME_ROOT
MYSQL_DATABASE=todos
MYSQL_USER=todo
MYSQL_PASSWORD=REPLACE_ME_APP
